{% load staticfiles %} {% load cart_template_tags %}

<div class="banner">
    <div class="container">
        <div class="header">
            <div class="logo">
                <h1><a href="/">FareInFeed</a></h1>
            </div>
            <div class="top-nav">
                <nav class="navbar navbar-default">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu
								</button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            {% if user.is_authenticated %}
                            <li><a class="active" href="/">Home</a></li>
                            <li><a id="item" href="{% url 'core:order-summary' %}"><i class="fa fa-shopping-bag"></i> Cart(<span>{{ request.user|cart_item_count }}</span>)</a></li>
                            <li><a style="text-transform: capitalize;" href="{% url 'admin:index' %}">{{request.user}}</a></li>
                            <li><a href="{% url 'account_logout' %}">Logout</a></li>
                            {% else %}

                            <li><a class="active" href="/">Home</a></li>
                            <!-- <li><a style="text-transform: capitalize;" href="{% url 'account_login' %}">{{request.user}}</a></li> -->
                            <li><a href="{% url 'account_login' %}">Login</a></li>
                            <li><a href="{% url 'account_signup' %}">SignUp</a></li>





                            {% endif %}
                            <div class="clearfix"> </div>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="banner-info">
            <h2>Tasty food served at your doorstep</h2>
            <p>Experience the fastest delivery. Order now and get your food at your Table in 5 minutes!</p>
        </div>
        <div class="banner-grads">
            <div class="col-md-3 banner-grad">
                <a href="http://localhost:8000/menu?cuisine=south">
                    <div class="banner-grad-img">
                        <img src="{% static 'images/south.jpg' %}" alt="" />
                        <h4>South Indian</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-3 banner-grad">
                <a href="http://localhost:8000/menu?cuisine=Gujarati">
                    <div class="banner-grad-img">
                        <img src="{% static 'images/gujarat.jpg' %}" alt="" />
                        <h4>Gujarati</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-3 banner-grad">
                <a href="http://localhost:8000/menu?cuisine=fast">
                    <div class="banner-grad-img">
                        <img src="{% static 'images/fast.jpg' %}" alt="" />
                        <h4>Fast Food</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-3 banner-grad">
                <a href="http://localhost:8000/menu?cuisine=Punjabi">
                    <div class="banner-grad-img">
                        <img src="{% static 'images/punjabi.jpg' %}" alt="" />
                        <h4>Punjabi</h4>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>